@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main {
  padding-bottom: 120px;

  .container {

    .carousel-items {
      position: relative;

      .carousel-item {
        padding-top: 100px;
        padding-left: 80px;
        height: 500px;
        box-sizing: border-box;

        &.first {
          background: url('../../../assets/images/page/background.png') left/720px 500px no-repeat,
          url('../../../assets/images/page/image-first.png') right/750px 500px no-repeat;
        }

        &.second {
          background: url('../../../assets/images/page/background.png') left/720px 500px no-repeat,
          url('../../../assets/images/page/image-second.png') right/750px 500px no-repeat;
        }

        &.third {
          background: url('../../../assets/images/page/background.png') left/720px 500px no-repeat,
          url('../../../assets/images/page/image-third.png') right/750px 500px no-repeat;
        }

        .carousel-item-title {
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
          font-weight: 600;
          color: $blue-text-color;
          letter-spacing: 0.4em;
          text-transform: uppercase;
        }

        .carousel-item-info {
          max-width: 610px;
          @include head-lora-50;
          color: #FFFFFF;
          line-height: 65px;
          margin-bottom: 40px;

          span {
            color: $blue-text-color;
          }
        }

        .carousel-item-text {
          font-size: 24px;
          line-height: 31.2px;
          color: #FFFFFF;
          margin-bottom: 50px;
          max-width: 456px;

        }

        .carousel-item-action {

          button {
            width: 163px;
          }
        }

      }

      .carousel-arrows {
        display: flex;

        a {
          top: calc(50% - 14px);
          display: flex;
          position: absolute;
          cursor: pointer;
          z-index: 2;

          &.move-backward {
            left: 10px;
          }

          &.move-forward {
            right: 10px;
          }
        }
      }
    }
  }
}

.services {
  padding-bottom: 120px;

  .container {

    .services-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .services-items {
      display: flex;
      justify-content: space-between;

      .services-item {
        width: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .services-item-content {
          .services-item-image {
            width: 291px;
            height: 291px;
            border-radius: 5px;
            background-size: cover;
            background-position: center;
          }

          .services-item-category {
            margin-top: 15px;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: $blue-text-color;
          }

          .services-item-description {
            margin-top: 10px;
            font-size: 14px;
            line-height: 18.2px;
            color: $base-text-color;
          }
        }

        .services-item-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 15px;

          .services-item-price {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: $blue-text-color;
          }

          .button {
            width: 163px;
          }
        }
      }
    }
  }
}

.about {
  padding-bottom: 120px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about-image {
      margin-right: 68px;

      img {
        align-items: center;
      }
    }

    .about-content {
      .about-title {
        @include head-lora-38;
        margin-bottom: 20px;
      }

      .about-text {
        width: 633px;
        font-size: 14px;
        line-height: 18.2px;
        color: $gray-text-color;
        margin-bottom: 40px;

        span {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
        }
      }

      .about-description-title {
        font-family: 'Lora', sans-serif;
        font-size: 26px;
        font-weight: 400;
        color: $blue-text-color;
        margin-bottom: 20px;
      }

      .about-descriptions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .about-description {
          width: 316px;
          height: 90px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          position: relative;

          &:nth-child(3),
          &:nth-child(4) {
            margin-bottom: 0;
          }

          &:nth-child(1),
          &:nth-child(3) {
            margin-right: 71px;
          }

          .about-description-number {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #B9D5FD;
            line-height: 40px;
            position: relative;

            .number {
              font-size: 50px;
              @include head-lora-50;
              text-align: center;
              position: absolute;
              line-height: 26px;
              right: 6px;
            }
          }

          .about-description-text {
            width: 250px;
            font-size: 14px;
            line-height: 18.2px;
            color: $gray-text-color;
            margin-left: 20px;

            span {
              font-family: 'Montserrat', sans-serif;
              font-size: 14px;
              font-weight: 500;
              line-height: 18.2px;
            }
          }

          &:first-child {
            .about-description-number {
              .number {
                right: 11px;
              }
            }
          }
        }
      }
    }
  }
}

.articles {
  padding-bottom: 120px;

  .container {

    .articles-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .articles-items {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    .articles-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 1045px;

      .articles-link-text {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: $blue-text-color;
        margin-right: 14px;
      }

      svg {
        fill: $blue-text-color;
      }
    }
  }
}

.reviews {
  margin-bottom: 120px;

  .container {
    .reviews-title {
      @include head-lora-38;
      margin-bottom: 20px;
    }

    .reviews-carousel {
      position: relative;

      .review-item {
        width: 396px;
        height: 267px;
        padding: 30px;
        border: 2px solid $blue-text-color;
        border-radius: 5px;
        box-sizing: border-box;

        .review-item-head {
          display: flex;
          align-items: center;

          .review-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .review-item-name {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 18px;
            color: $blue-text-color;
          }
        }

        .review-item-text {
          margin-top: 15px;
          font-size: 16px;
          line-height: 22.4px;
          color: $base-text-color;
        }
      }

      .reviews-arrows {
        display: flex;

        a {
          top: calc(50% - 5px);
          display: flex;
          position: absolute;
          cursor: pointer;

          &.move-backward {
            left: -41px;
          }

          &.move-forward {
            right: -41px;
          }
        }
      }
    }
  }
}

.contacts {
  padding-bottom: 120px;

  .container {
    display: flex;
    align-items: flex-start;

    .map {
      margin-right: 26px;

      iframe {
        vertical-align: bottom;
      }
    }

    .contacts-info {

      .contacts-title {
        @include head-lora-38;
        margin-bottom: 20px;
      }

      .contacts-item {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: $blue-text-color;
        margin-bottom: 10px;
      }

      .contacts-item-data {
        font-size: 14px;
        line-height: 18.2px;
        color: $base-text-color;
        margin-bottom: 20px;

        a {
          text-decoration: none;
        }

        &.address {
          width: 501px;
        }
      }

      .contacts-socials {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
        }

        svg {
          fill: #B9D5FD;
          margin-right: 20px;
        }
      }
    }

  }
}
